@import url(https://fonts.googleapis.com/css?family=Inter:500,600&display=swap);

@charset "UTF-8";

:root {
  --yellow: rgba(255, 217, 72, 1);
  --blue: rgba(40, 129, 248, 1);
  --dark: rgba(36, 43, 66, 1);
  --label: rgba(120, 127, 151, 1);
  --divider: rgba(217, 220, 229, 1);
  --blue-light: rgba(221, 232, 254, 1);
  --light: rgba(248, 249, 252, 1);
  --white: rgba(255, 255, 255, 1);
  --shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.25rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.form__line {
  position: relative;
  margin-bottom: 1.25rem;
}

.form__line:last-child {
  margin-bottom: 0;
}

.form__line-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__line-label {
  color: var(--label);
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 19.5px */
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.form .line-error .error-text {
  color: #B72025;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 18.2px */
  margin-top: 10px;
}

.form .line-error .form__line-icon svg path {
  fill: #B72025;
}

.form .line-error .input {
  border-width: 1.5px;
  border-color: #B72025;
}

.button--fw {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.button.button-sm.button-blue {
  font-weight: 600;
  line-height: 130%;
  /* 22.1px */
}

.button.button-md.button-blue {
  font-weight: 600;
  line-height: 130%;
  /* 22.1px */
}

.button-blue {
  color: var(--white);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--blue);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button-blue:hover {
  background-color: #579FFF;
}

.link {
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 19.5px */
}

.link.link-blue {
  color: var(--blue);
}

.link.link-arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.link.link-arrow:hover::after {
  -webkit-transform: translateX(3px);
      -ms-transform: translateX(3px);
          transform: translateX(3px);
}

.link.link-arrow::after {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8px;
          flex: 0 0 8px;
  width: 8px;
  height: 12px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: url("../img/icons/arrow-blue-right.svg") 0 0 no-repeat;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0.5rem;
  border: 1px solid var(--divider);
  background-color: var(--light);
  width: 100%;
  display: block;
  color: var(--label);
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 22.1px */
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.input:hover {
  border-color: rgba(40, 129, 248, 0.5);
}

.input:focus {
  border: 1.5px solid var(--blue);
}

.input::-webkit-input-placeholder {
  color: var(--label);
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 22.1px */
}

.input::-moz-placeholder {
  color: var(--label);
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 22.1px */
}

.input:-ms-input-placeholder {
  color: var(--label);
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 22.1px */
}

.input::-ms-input-placeholder {
  color: var(--label);
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 22.1px */
}

.input::placeholder {
  color: var(--label);
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 22.1px */
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:hover + .checkbox__label:before {
  background-color: var(--blue-light);
}

.checkbox__input:checked + .checkbox__label:before {
  background-color: var(--blue);
}

.checkbox__input:checked + .checkbox__label:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  gap: 10px;
}

.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border-radius: 0.25rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid var(--blue);
}

.checkbox__label::after {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14px;
          flex: 0 0 14px;
  top: 2px;
  left: 3px;
  width: 14px;
  height: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  background: url("../img/icons/checked.svg") 0 0 no-repeat;
}

.checkbox__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: var(--label);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 19.5px */
}

.checkbox__text a {
  color: var(--blue);
  text-decoration: underline;
}

.checkbox__text a:hover {
  text-decoration: none;
}

body::before {
  content: "";
  border-radius: 0.625rem;
  background-color: var(--light);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
  margin: 1.25rem;
}

.popup-show body::before {
  opacity: 1;
}

.popup-show body::after {
  opacity: 1;
  z-index: 148;
  background-color: #fff !important;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup__close {
  position: absolute;
  right: -80px;
  top: 0;
  border-radius: 0.5rem;
  width: 3.75rem;
  height: 3.75rem;
  border: 1px solid var(--divider, #D9DCE5);
  background: var(--white, #FFF);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__close svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popup__close:hover svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-radius: 0.625rem;
  border: 1px solid var(--divider);
  background: var(--white);
  width: 100%;
  max-width: 380px;
}

.popup__content .form__row {
  margin-bottom: 1.25rem;
}

.popup__content .form__row:last-child {
  margin-bottom: 0;
}

.popup__content .form__line {
  margin-bottom: 10px;
}

.popup__content .form__line:last-child {
  margin-bottom: 0;
}

.popup__content .section-header .subtitle {
  color: var(--label);
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 22.1px */
}

.lock .popup__content {
  visibility: visible;
}

[data-showmore-content] p + p {
  margin-top: 0.625rem;
}

[data-showmore-content] p {
  overflow: hidden;
  color: var(--label);
  font-variant-numeric: lining-nums proportional-nums;
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 19.5px */
}

[data-showmore-button] {
  color: var(--blue);
  font-variant-numeric: lining-nums proportional-nums;
  text-overflow: ellipsis;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 19.5px */
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

[data-showmore-button][hidden] {
  display: none !important;
}

[data-showmore-button]::after {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12px;
          flex: 0 0 12px;
  width: 12px;
  height: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: url("../img/icons/arrow-blue-down.svg") 0 0 no-repeat;
}

._showmore-active [data-showmore-button]::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

[data-showmore-button] span:last-child {
  display: none;
}

._showmore-active [data-showmore-button] span {
  display: none;
}

._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

[data-ripple] {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-animation: button-circle 1.5s ease forwards;
          animation: button-circle 1.5s ease forwards;
}

@-webkit-keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

@keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg-contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.language {
  position: relative;
}

.menu-open .language .language__button {
  background-color: rgb(233, 239, 252);
}

.language.open .language__button {
  border-color: var(--blue);
  background-color: var(--blue-light);
}

.language.open .language__button::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.language.open .language__list {
  opacity: 1;
  visibility: visible;
  top: calc(100% + 15px);
}

.language__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  color: var(--dark);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 130%;
  /* 22.1px */
  letter-spacing: -0.51px;
  border-radius: 0.5rem;
  background-color: var(--light);
  padding: 0.5rem 1rem;
  min-height: 2.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
}

.language__button:hover {
  background-color: rgb(233, 239, 252);
}

.language__button:active {
  background-color: var(--blue-light);
}

.language__button::after {
  content: "";
  width: 0.75rem;
  height: 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.75rem;
          flex: 0 0 0.75rem;
  margin-left: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: url("../img/icons/arrow-blue-down.svg") 0 0 no-repeat;
}

.language-icon svg {
  width: 18px;
  height: 12px;
}

.language__list {
  position: absolute;
  top: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0.5rem;
  background-color: #fff;
  width: 100%;
  border: 1px solid #D9DCE6;
}

.language__list li:last-child a {
  border-bottom: none;
}

.language__list li a {
  padding: 0.75rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  color: var(--dark);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 130%;
  /* 22.1px */
  letter-spacing: -0.51px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 1px solid #D9DCE6;
}

.language__list li a:hover {
  opacity: 0.7;
}

.language__list li a:active {
  opacity: 1;
  background-color: rgb(233, 239, 252);
}

.section-header .subtitle {
  color: var(--label);
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 31.2px */
}

.section-header__label p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.5rem 0.75rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.625rem;
  color: var(--blue);
  font-size: 1rem;
  font-weight: 500;
  line-height: 130%;
  /* 19.5px */
  letter-spacing: -0.6px;
  border-radius: 0.375rem;
  background-color: var(--blue-light);
}

.section-header__title span {
  color: var(--blue);
}

.text-center {
  text-align: center;
  margin: 0 auto;
}

h1,
.h1 {
  color: var(--dark);
  font-style: normal;
  font-weight: 500;
  line-height: 105%;
  /* 105px */
}

h2,
.h2 {
  color: var(--dark);
  font-style: normal;
  font-weight: 500;
  line-height: 105%;
  /* 75.6px */
}

h3,
.h3 {
  color: var(--dark);
  font-style: normal;
  font-weight: 500;
  line-height: 105%;
  /* 75.6px */
}

.header {
  border-bottom: 1px solid var(--divider);
  margin-bottom: 1.25rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header._header-scroll {
  top: -100%;
  background-color: #fff;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 5;
}

.header._header-show {
  position: fixed;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.header__menu .menu__body .language__list a {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
}

.header__menu ul li a {
  color: var(--dark);
  font-weight: 500;
  line-height: 130%;
  /* 22.1px */
  letter-spacing: -0.51px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__menu ul li a._navigator-active {
  color: var(--blue);
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.header__actions .button {
  position: relative;
  z-index: 5;
}

.header__language {
  position: relative;
  z-index: 5;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 4;
}

.menu-open body::after {
  opacity: 1;
}

.icon-menu {
  display: none;
}

.footer {
  padding: 1.875rem 0;
}

.footer__copyright {
  color: var(--label);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 19.5px */
}

.hero {
  background-color: var(--light);
}

.hero__images {
  position: relative;
}

.hero__images .icon-01 img {
  position: absolute;
  top: -35%;
  left: 5%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-animation: ord 5s infinite linear;
          animation: ord 5s infinite linear;
}

@-webkit-keyframes ord {
  0%, 100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  50% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
}

@keyframes ord {
  0%, 100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  50% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
}

.hero__image.image-01 img {
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__image.image-02 img {
  max-width: 15.5%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  right: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.clients__container {
  padding: 0;
  max-width: 120rem;
}

.clients__header p {
  color: var(--label);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 22.1px */
  letter-spacing: -0.51px;
}

.clients__slider .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}

.clients__slide {
  border: 1px solid var(--divider);
  background-color: var(--white);
  max-width: 11.25rem;
  width: 100%;
}

.clients__slide .slide__body img {
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.how-it-work__body .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

.how-it-work__body .tabs__body._tab-active .tabs__body-image img {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.how-it-work__body .tabs__body-image img {
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.625rem;
  opacity: 0;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05));
}

.how-it-work__body .tabs__title {
  cursor: pointer;
  text-align: left;
  padding: 0.625rem;
  overflow: hidden;
  border-radius: 0.625rem;
  border: 1px solid transparent;
}

.how-it-work__body .tabs__title:last-child {
  margin-bottom: 0;
}

.how-it-work__body .tabs__title:hover .tabs__title-top {
  color: var(--dark);
}

.how-it-work__body .tabs__title._tab-active {
  border-radius: 0.625rem;
  border: 1px solid var(--divider);
  background-color: var(--light);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.how-it-work__body .tabs__title._tab-active .tabs__title-bottom {
  height: auto;
  opacity: 1;
  position: relative;
  top: 0;
}

.how-it-work__body .tabs__title._tab-active .tabs__title-top {
  color: var(--dark);
}

.how-it-work__body .tabs__title._tab-active .tabs__title-top .icon svg path {
  fill: var(--blue);
}

.how-it-work__body .tabs__title-top {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--label);
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 26px */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.how-it-work__body .tabs__title-top .icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.how-it-work__body .tabs__title-bottom {
  height: 0;
  opacity: 0;
  position: absolute;
  top: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-left: 35px;
}

.how-it-work__body .tabs__title-bottom p {
  color: var(--label);
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 19.5px */
  margin-top: 0.75rem;
}

.demo-version__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.demo-version .demo-col {
  border-radius: 0.625rem;
  border: 1px solid var(--divider);
}

.demo-version__image {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.demo-version__image img {
  width: 620px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.demo-version__form .section-header .subtitle {
  color: var(--label);
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 22.1px */
  text-align: left;
}

.reviews__container-max {
  padding: 0 1.25rem;
  max-width: 120rem;
  margin: 0 auto;
}

.reviews__slide .review__body {
  border-radius: 0.625rem;
  border: 1px solid var(--divider);
  background-color: var(--light);
}

.reviews__slide .review__header {
  border-bottom: 1px solid var(--divider);
}

.reviews__slide .review__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__slide .review__name-image {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__slide .review__name-image img {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.reviews__slide .review__name-image .image-avatar {
  margin-left: -8px;
}

.reviews__slide .review__name-info p {
  color: var(--dark);
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 22.1px */
}

.reviews__slide .review__name-info span {
  color: var(--label);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 19.5px */
}

.consultation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.consultation__form {
  border-radius: 0.625rem;
  border: 1px solid var(--divider);
  background-color: var(--white);
}

.consultation__form .checkbox {
  margin-top: 1.25rem;
}

.consultation__one-payment {
  border-radius: 0.625rem;
  border: 1px solid var(--divider);
  background-color: var(--white);
}

.consultation__one-payment .one-payment__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.consultation__one-payment .one-payment__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1.25rem;
  position: relative;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.consultation__one-payment .one-payment__bottom img {
  max-width: 11.25rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.consultation__one-payment .one-payment__body .section-header .subtitle {
  color: var(--label);
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 22.1px */
  text-align: left;
}

.support__content {
  max-width: 61.25rem;
  margin: 0 auto;
}

.support__text p {
  color: var(--label);
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 26px */
}

.footer-section__content {
  border-radius: 0.625rem;
  background-color: var(--light);
}

.footer-section__top {
  padding-bottom: 1.5625rem;
}

.footer-section__bottom .section-header .subtitle {
  max-width: 40.875rem;
}

.footer-section__bottom .section-header__line-arrows {
  position: relative;
}

.footer-section__bottom .section-header__line-arrows .arrow-1 {
  position: absolute;
  left: 0;
  top: -20px;
}

.footer-section__bottom .section-header__line-arrows .arrow-1 svg {
  -webkit-animation: ord 4s infinite linear;
          animation: ord 4s infinite linear;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@keyframes ord {
  0%, 100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  50% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
}

.footer-section__bottom .section-header__line-arrows .arrow-2 {
  position: absolute;
  right: 0;
  top: -20px;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.footer-section__bottom .section-header__line-arrows .arrow-2 svg {
  -webkit-animation: ord 3s infinite linear;
          animation: ord 3s infinite linear;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@keyframes ord {
  0%, 100% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }

  50% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
}

.footer-section__image {
  margin-bottom: 1.5625rem;
}

.footer-section__image img {
  max-width: 100%;
  width: 1020px;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: darken;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 29.99875em) {
  .form__row.row-cols-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }

  .section-header .subtitle {
    letter-spacing: -0.96px;
  }

  h1,
  .h1 {
    letter-spacing: -5px;
  }

  h2,
  .h2 {
    letter-spacing: -3.6px;
  }

  h3,
  .h3 {
    letter-spacing: -1.68px;
  }

  .hero {
    border-radius: 0.625rem;
    margin: 0 1.25rem;
  }

  .hero .section-header {
    margin-bottom: 3.125rem;
  }

  .clients__slide {
    border-radius: 0.625rem;
  }

  .reviews__slide {
    max-width: 17.5rem;
  }
}

@media (min-width: 47.99875em) {
  .form__line-label {
    letter-spacing: -0.45px;
  }

  .form .line-error .error-text {
    letter-spacing: -0.42px;
  }

  .button.button-sm {
    min-height: 2.5rem;
    padding: 0.5rem 1rem;
  }

  .button.button-sm.button-blue {
    letter-spacing: -0.51px;
  }

  .button.button-md {
    min-height: 3.25rem;
    padding: 0.875rem 1.5rem;
  }

  .button.button-md.button-blue {
    letter-spacing: -0.6px;
  }

  .link {
    letter-spacing: -0.45px;
  }

  .input {
    padding: 0.9375rem 0.625rem 0.9375rem 3.125rem;
  }

  .input {
    letter-spacing: -0.51px;
  }

  .input::-webkit-input-placeholder {
    letter-spacing: -0.51px;
  }

  .input::-moz-placeholder {
    letter-spacing: -0.51px;
  }

  .input:-ms-input-placeholder {
    letter-spacing: -0.51px;
  }

  .input::-ms-input-placeholder {
    letter-spacing: -0.51px;
  }

  .input::placeholder {
    letter-spacing: -0.51px;
  }

  .checkbox__text {
    letter-spacing: -0.45px;
    font-size: 0.9375rem;
  }

  .popup__content {
    padding: 2.5rem;
  }

  .popup__content .section-header .subtitle {
    letter-spacing: -0.51px;
  }

  [data-showmore-content] p {
    letter-spacing: -0.45px;
  }

  [data-showmore-button] {
    letter-spacing: -0.45px;
  }

  .page {
    padding-top: 120px;
  }

  .header {
    padding: 1.875rem 0;
  }

  .footer__copyright {
    letter-spacing: -0.45px;
  }

  .clients {
    padding: 4.0625rem 0 0 0;
  }

  .clients__header {
    margin-bottom: 1.875rem;
  }

  .clients__slide .slide__body {
    padding: 1.5625rem;
  }

  .how-it-work {
    padding: 4.0625rem 0 0 0;
  }

  .how-it-work__body .tabs__title-top {
    letter-spacing: -0.6px;
  }

  .how-it-work__body .tabs__title-bottom p {
    letter-spacing: -0.45px;
  }

  .demo-version {
    margin-top: 5rem;
  }

  .demo-version__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 42.5rem;
            flex: 0 1 42.5rem;
  }

  .demo-version__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30rem;
            flex: 0 1 30rem;
  }

  .demo-version__form {
    padding: 2.5rem;
  }

  .demo-version__form .section-header .subtitle {
    letter-spacing: -0.51px;
  }

  .reviews {
    margin-top: 5rem;
  }

  .reviews__slide .review__header {
    padding: 1.5rem 1.25rem 1.25rem 1.25rem;
    margin-bottom: 1.25rem;
  }

  .reviews__slide .review__name {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }

  .reviews__slide .review__name-info p {
    letter-spacing: -0.51px;
  }

  .reviews__slide .review__name-info span {
    letter-spacing: -0.45px;
  }

  .reviews__slide .review__content {
    padding: 0 1.25rem 1.5rem 1.25rem;
  }

  .consultation {
    margin-top: 5rem;
  }

  .consultation__form {
    padding: 2.5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48.75rem;
            flex: 0 1 48.75rem;
  }

  .consultation__one-payment {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 23.75rem;
            flex: 0 1 23.75rem;
  }

  .consultation__one-payment .one-payment__top {
    padding: 2.5rem 2.5rem 0rem 2.5rem;
  }

  .consultation__one-payment .one-payment__bottom .link {
    margin: 0rem 0rem 2.5rem 2.5rem;
  }

  .consultation__one-payment .one-payment__body .section-header .subtitle {
    letter-spacing: -0.51px;
  }

  .support {
    margin-top: 5rem;
  }

  .support__text p {
    letter-spacing: -0.6px;
  }

  .footer-section {
    margin-top: 5rem;
  }

  .footer-section__bottom .section-header .subtitle {
    margin: 0 auto 1.875rem auto;
  }
}

@media (min-width: 61.99875em) {
  .mb-35 {
    margin-bottom: 2.1875rem;
  }

  .mb-20 {
    margin-bottom: 1.25rem;
  }

  .mb-30 {
    margin-bottom: 1.875rem;
  }

  .mb-25 {
    margin-bottom: 1.5625rem;
  }

  .header__menu .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem 1.25rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header__menu ul li a {
    font-size: 1.125rem;
  }

  .hero {
    padding: 4.0625rem 0 0 0;
  }

  .how-it-work__body .tabs__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 24.0625rem;
  }

  .how-it-work__body .tabs__title {
    min-width: 24.0625rem;
  }

  .footer-section__content {
    padding: 4.0625rem;
  }
}

@media (min-width: 76.25em) {
  .form__line-label {
    font-size: 1rem;
  }

  .form .line-error .error-text {
    font-size: 0.875rem;
  }

  .button.button-sm.button-blue {
    font-size: 1.125rem;
  }

  .button.button-md.button-blue {
    font-size: 1.25rem;
  }

  .input {
    font-size: 1.0625rem;
  }

  .input::-webkit-input-placeholder {
    font-size: 1.0625rem;
  }

  .input::-moz-placeholder {
    font-size: 1.0625rem;
  }

  .input:-ms-input-placeholder {
    font-size: 1.0625rem;
  }

  .input::-ms-input-placeholder {
    font-size: 1.0625rem;
  }

  .input::placeholder {
    font-size: 1.0625rem;
  }

  .popup__content .form__row .button {
    font-size: 1.0625rem;
  }

  .popup__content .section-header .subtitle {
    font-size: 1.0625rem;
  }

  .section-header .subtitle {
    font-size: 1.5rem;
  }

  h1,
  .h1 {
    font-size: 6.25rem;
  }

  h2,
  .h2 {
    font-size: 4.5rem;
  }

  h3,
  .h3 {
    font-size: 2.625rem;
  }

  .footer__copyright {
    font-size: 0.9375rem;
  }

  .how-it-work__body .tabs__title-top {
    font-size: 1.25rem;
  }

  .how-it-work__body .tabs__title-bottom p {
    font-size: 0.9375rem;
  }

  .demo-version__form .section-header .subtitle {
    font-size: 1.0625rem;
  }

  .consultation__one-payment .one-payment__body .section-header .subtitle {
    font-size: 1.0625rem;
  }

  .support__text p {
    font-size: 1.25rem;
  }
}

@media (min-width: 79.375em) {
  .how-it-work__body .tabs__navigation {
    margin-left: -1.25rem;
  }
}

@media (max-width: 20em) {
  .form__line-label {
    font-size: 0.75rem;
  }

  .form .line-error .error-text {
    font-size: 0.75rem;
  }

  .button.button-sm.button-blue {
    font-size: 0.875rem;
  }

  .button.button-md.button-blue {
    font-size: 1rem;
  }

  .input {
    font-size: 0.875rem;
  }

  .input::-webkit-input-placeholder {
    font-size: 0.875rem;
  }

  .input::-moz-placeholder {
    font-size: 0.875rem;
  }

  .input:-ms-input-placeholder {
    font-size: 0.875rem;
  }

  .input::-ms-input-placeholder {
    font-size: 0.875rem;
  }

  .input::placeholder {
    font-size: 0.875rem;
  }

  .popup__content .form__row .button {
    font-size: 0.9375rem;
  }

  .popup__content .section-header .subtitle {
    font-size: 0.8125rem;
  }

  .section-header .subtitle {
    font-size: 0.875rem;
  }

  h1,
  .h1 {
    font-size: 2rem;
  }

  h2,
  .h2 {
    font-size: 1.625rem;
  }

  h3,
  .h3 {
    font-size: 1.25rem;
  }

  .footer__copyright {
    font-size: 0.8125rem;
  }

  .how-it-work__body .tabs__title-top {
    font-size: 1rem;
  }

  .how-it-work__body .tabs__title-bottom p {
    font-size: 0.8125rem;
  }

  .demo-version__form .section-header .subtitle {
    font-size: 0.8125rem;
  }

  .consultation__one-payment .one-payment__body .section-header .subtitle {
    font-size: 0.8125rem;
  }

  .support__text p {
    font-size: 0.9375rem;
  }
}

@media (max-width: 61.99875em) {
  .mb-35 {
    margin-bottom: 1.5rem;
  }

  .mb-20 {
    margin-bottom: 0.875rem;
  }

  .mb-30 {
    margin-bottom: 1.25rem;
  }

  .mb-25 {
    margin-bottom: 1.125rem;
  }

  .header__menu .menu__body {
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    height: 100%;
    z-index: 5;
    width: 100%;
    max-width: 25rem;
    padding: 6.25rem 3rem 3rem;
    border-radius: 0.625rem 0 0 0.625rem;
    border: 1px solid var(--divider);
    background-color: var(--white);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    overflow: auto;
  }

  .menu-open .header__menu .menu__body {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .header__menu ul li {
    margin-bottom: 1.25rem;
  }

  .header__menu ul li:last-child {
    margin-bottom: 0;
  }

  .header__menu ul li a {
    font-size: 1.75rem;
  }

  .icon-menu {
    margin-left: 12px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .hero {
    padding: 2.0625rem 0 0 0;
  }

  .hero__images .icon-01 img {
    width: 5%;
    min-width: 1.875rem;
    top: -25%;
  }

  .hero__image.image-02 img {
    right: -20px;
  }

  .how-it-work__body .tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .how-it-work__body .tabs__navigation {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) {
  .form__line-icon {
    top: 12px;
  }

  .form__line-icon svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  .form__line-label {
    letter-spacing: -0.2px;
  }

  .form .line-error .error-text {
    letter-spacing: -0.2px;
  }

  .button.button-sm {
    min-height: 2rem;
    padding: 0.25rem 1rem;
  }

  .button.button-sm.button-blue {
    letter-spacing: -0.25px;
  }

  .button.button-md {
    min-height: 2.625rem;
    padding: 0.625rem 1rem;
    min-height: 45px;
  }

  .button.button-md.button-blue {
    letter-spacing: -0.3px;
  }

  .link {
    letter-spacing: -0.2px;
  }

  .input {
    padding: 0.5rem 0.625rem 0.5rem 2.8125rem;
    min-height: 45px;
  }

  .input {
    letter-spacing: -0.25px;
  }

  .input::-webkit-input-placeholder {
    letter-spacing: -0.25px;
  }

  .input::-moz-placeholder {
    letter-spacing: -0.25px;
  }

  .input:-ms-input-placeholder {
    letter-spacing: -0.25px;
  }

  .input::-ms-input-placeholder {
    letter-spacing: -0.25px;
  }

  .input::placeholder {
    letter-spacing: -0.25px;
  }

  .checkbox__text {
    letter-spacing: -0.2px;
    font-size: 0.8125rem;
  }

  .popup__close {
    right: 0;
    top: -50px;
    width: 2.5rem;
    height: 2.5rem;
  }

  .popup__content {
    padding: 1.5625rem;
  }

  .popup__content .section-header .subtitle {
    letter-spacing: -0.25px;
  }

  [data-showmore-content] p {
    letter-spacing: -0.2px;
  }

  [data-showmore-button] {
    letter-spacing: -0.2px;
  }

  .page {
    padding-top: 80px;
  }

  .language__button {
    min-height: 2rem;
    padding: 0.25rem 1rem;
    font-size: 0.875rem;
  }

  .language-icon svg {
    width: 15px;
    height: 10px;
  }

  .section-header__label p {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
  }

  .mb-35 {
    margin-bottom: 1rem;
  }

  .header {
    padding: 1rem 0;
  }

  .footer__copyright {
    letter-spacing: -0.2px;
  }

  .hero__images {
    min-height: 250px;
  }

  .hero__images .icon-01 {
    display: none;
  }

  .hero__image.image-01 img {
    position: absolute;
    left: 0;
    max-width: none;
    width: auto;
    top: 0;
    height: 100%;
    -o-object-fit: fill;
       object-fit: fill;
  }

  .hero__image.image-02 {
    display: none;
  }

  .clients {
    padding: 2.25rem 0 0 0;
  }

  .clients__header {
    margin-bottom: 1.25rem;
  }

  .clients__slide .slide__body {
    padding: 1rem;
  }

  .how-it-work {
    padding: 2.25rem 0 0 0;
  }

  .how-it-work__body .tabs__navigation {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .how-it-work__body .tabs__title-top {
    letter-spacing: -0.3px;
  }

  .how-it-work__body .tabs__title-bottom p {
    letter-spacing: -0.2px;
  }

  .demo-version {
    margin-top: 2.5rem;
  }

  .demo-version__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .demo-version__form {
    padding: 1.5rem;
  }

  .demo-version__form .section-header .subtitle {
    letter-spacing: -0.25px;
  }

  .reviews {
    margin-top: 2.5rem;
  }

  .reviews__slide .review__header {
    padding: 1.25rem 1rem 1rem 1rem;
    margin-bottom: 1.25rem;
  }

  .reviews__slide .review__name {
    gap: 0.5rem;
  }

  .reviews__slide .review__name-info p {
    font-size: 0.9375rem;
  }

  .reviews__slide .review__name-info p {
    letter-spacing: -0.25px;
  }

  .reviews__slide .review__name-info span {
    font-size: 0.8125rem;
  }

  .reviews__slide .review__name-info span {
    letter-spacing: -0.2px;
  }

  .reviews__slide .review__content {
    padding: 0 1rem 1.25rem 1rem;
  }

  .consultation {
    margin-top: 2.5rem;
  }

  .consultation__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .consultation__form {
    padding: 1.5rem;
  }

  .consultation__one-payment .one-payment__top .section-header br {
    display: none;
  }

  .consultation__one-payment .one-payment__top {
    padding: 1.5rem 1.5rem 0rem 1.5rem;
  }

  .consultation__one-payment .one-payment__bottom .link {
    margin: 0rem 0rem 1.5rem 1.5rem;
  }

  .consultation__one-payment .one-payment__body .section-header .subtitle {
    letter-spacing: -0.25px;
  }

  .support {
    margin-top: 2.5rem;
  }

  .support__text p {
    letter-spacing: -0.3px;
  }

  .footer-section {
    margin-top: 2.5rem;
  }

  .footer-section__content {
    padding: 2.25rem;
  }

  .footer-section__bottom .section-header .subtitle {
    margin: 0 auto 1.25rem auto;
  }

  .footer-section__bottom .section-header__line-arrows .arrow-1 svg {
    width: 3.125rem;
  }

  .footer-section__bottom .section-header__line-arrows .arrow-2 svg {
    width: 3.125rem;
  }
}

@media (max-width: 35.625em) {
  .header__actions {
    position: absolute;
    top: 14px;
    left: 16px;
  }
}

@media (max-width: 29.99875em) {
  .form__row.row-cols-2 {
    margin-bottom: 1.25rem;
  }

  .popup__close {
    position: unset;
    margin-left: auto;
    display: block;
    width: auto;
    height: auto;
    border: none;
  }

  [data-showmore-content] p {
    font-size: 0.8125rem;
  }

  [data-showmore-button] {
    font-size: 0.8125rem;
  }

  .section-header .subtitle {
    letter-spacing: -0.4px;
  }

  .section-header .button {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  h1,
  .h1 {
    letter-spacing: -2.5px;
  }

  h2,
  .h2 {
    letter-spacing: -1.25px;
  }

  h3,
  .h3 {
    letter-spacing: -0.7px;
  }

  .header__logo svg {
    max-width: 100%;
  }

  .hero .section-header {
    margin-bottom: 1.875rem;
  }

  .clients__slide {
    border-radius: 0.5rem;
  }

  .clients__slide {
    max-width: 6.25rem;
  }

  .demo-version__form .section-header {
    text-align: center;
  }

  .demo-version__form .section-header .subtitle {
    text-align: center;
  }

  .reviews__slide .review__name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .reviews__slide .review__name-image img {
    width: 25px;
    height: 25px;
    min-width: 1.5625rem;
  }

  .footer-section__bottom .section-header__line-arrows {
    display: none;
  }
}

@media (min-width: 20em) and (max-width: 76.25em) {
@supports (font-size: clamp( 0.75rem , 0.6611111111rem  +  0.4444444444vw , 1rem )) {
    .form__line-label {
      font-size: clamp( 0.75rem , 0.6611111111rem  +  0.4444444444vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6611111111rem  +  0.4444444444vw , 1rem )) {
    .form__line-label {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 0.75rem , 0.7055555556rem  +  0.2222222222vw , 0.875rem )) {
    .form .line-error .error-text {
      font-size: clamp( 0.75rem , 0.7055555556rem  +  0.2222222222vw , 0.875rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.7055555556rem  +  0.2222222222vw , 0.875rem )) {
    .form .line-error .error-text {
      font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7861111111rem  +  0.4444444444vw , 1.125rem )) {
    .button.button-sm.button-blue {
      font-size: clamp( 0.875rem , 0.7861111111rem  +  0.4444444444vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7861111111rem  +  0.4444444444vw , 1.125rem )) {
    .button.button-sm.button-blue {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 1rem , 0.9111111111rem  +  0.4444444444vw , 1.25rem )) {
    .button.button-md.button-blue {
      font-size: clamp( 1rem , 0.9111111111rem  +  0.4444444444vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9111111111rem  +  0.4444444444vw , 1.25rem )) {
    .button.button-md.button-blue {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8083333333rem  +  0.3333333333vw , 1.0625rem )) {
    .input {
      font-size: clamp( 0.875rem , 0.8083333333rem  +  0.3333333333vw , 1.0625rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8083333333rem  +  0.3333333333vw , 1.0625rem )) {
    .input {
      font-size: calc(0.875rem + 0.1875 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8083333333rem  +  0.3333333333vw , 1.0625rem )) {
    .input::-webkit-input-placeholder {
      font-size: clamp( 0.875rem , 0.8083333333rem  +  0.3333333333vw , 1.0625rem );
    }
    .input::-moz-placeholder {
      font-size: clamp( 0.875rem , 0.8083333333rem  +  0.3333333333vw , 1.0625rem );
    }
    .input:-ms-input-placeholder {
      font-size: clamp( 0.875rem , 0.8083333333rem  +  0.3333333333vw , 1.0625rem );
    }
    .input::-ms-input-placeholder {
      font-size: clamp( 0.875rem , 0.8083333333rem  +  0.3333333333vw , 1.0625rem );
    }
    .input::placeholder {
      font-size: clamp( 0.875rem , 0.8083333333rem  +  0.3333333333vw , 1.0625rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8083333333rem  +  0.3333333333vw , 1.0625rem )) {
    .input::-webkit-input-placeholder {
      font-size: calc(0.875rem + 0.1875 * (100vw - 20rem) / 56.25);
    }
    .input::-moz-placeholder {
      font-size: calc(0.875rem + 0.1875 * (100vw - 20rem) / 56.25);
    }
    .input:-ms-input-placeholder {
      font-size: calc(0.875rem + 0.1875 * (100vw - 20rem) / 56.25);
    }
    .input::-ms-input-placeholder {
      font-size: calc(0.875rem + 0.1875 * (100vw - 20rem) / 56.25);
    }
    .input::placeholder {
      font-size: calc(0.875rem + 0.1875 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.8930555556rem  +  0.2222222222vw , 1.0625rem )) {
    .popup__content .form__row .button {
      font-size: clamp( 0.9375rem , 0.8930555556rem  +  0.2222222222vw , 1.0625rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.8930555556rem  +  0.2222222222vw , 1.0625rem )) {
    .popup__content .form__row .button {
      font-size: calc(0.9375rem + 0.125 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.7236111111rem  +  0.4444444444vw , 1.0625rem )) {
    .popup__content .section-header .subtitle {
      font-size: clamp( 0.8125rem , 0.7236111111rem  +  0.4444444444vw , 1.0625rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.7236111111rem  +  0.4444444444vw , 1.0625rem )) {
    .popup__content .section-header .subtitle {
      font-size: calc(0.8125rem + 0.25 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.6527777778rem  +  1.1111111111vw , 1.5rem )) {
    .section-header .subtitle {
      font-size: clamp( 0.875rem , 0.6527777778rem  +  1.1111111111vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.6527777778rem  +  1.1111111111vw , 1.5rem )) {
    .section-header .subtitle {
      font-size: calc(0.875rem + 0.625 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 2rem , 0.4888888889rem  +  7.5555555556vw , 6.25rem )) {
    h1,
    .h1 {
      font-size: clamp( 2rem , 0.4888888889rem  +  7.5555555556vw , 6.25rem );
    }
}

@supports not (font-size: clamp( 2rem , 0.4888888889rem  +  7.5555555556vw , 6.25rem )) {
    h1,
    .h1 {
      font-size: calc(2rem + 4.25 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 1.625rem , 0.6027777778rem  +  5.1111111111vw , 4.5rem )) {
    h2,
    .h2 {
      font-size: clamp( 1.625rem , 0.6027777778rem  +  5.1111111111vw , 4.5rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 0.6027777778rem  +  5.1111111111vw , 4.5rem )) {
    h2,
    .h2 {
      font-size: calc(1.625rem + 2.875 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 1.25rem , 0.7611111111rem  +  2.4444444444vw , 2.625rem )) {
    h3,
    .h3 {
      font-size: clamp( 1.25rem , 0.7611111111rem  +  2.4444444444vw , 2.625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.7611111111rem  +  2.4444444444vw , 2.625rem )) {
    h3,
    .h3 {
      font-size: calc(1.25rem + 1.375 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.7680555556rem  +  0.2222222222vw , 0.9375rem )) {
    .footer__copyright {
      font-size: clamp( 0.8125rem , 0.7680555556rem  +  0.2222222222vw , 0.9375rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.7680555556rem  +  0.2222222222vw , 0.9375rem )) {
    .footer__copyright {
      font-size: calc(0.8125rem + 0.125 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 1rem , 0.9111111111rem  +  0.4444444444vw , 1.25rem )) {
    .how-it-work__body .tabs__title-top {
      font-size: clamp( 1rem , 0.9111111111rem  +  0.4444444444vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9111111111rem  +  0.4444444444vw , 1.25rem )) {
    .how-it-work__body .tabs__title-top {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.7680555556rem  +  0.2222222222vw , 0.9375rem )) {
    .how-it-work__body .tabs__title-bottom p {
      font-size: clamp( 0.8125rem , 0.7680555556rem  +  0.2222222222vw , 0.9375rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.7680555556rem  +  0.2222222222vw , 0.9375rem )) {
    .how-it-work__body .tabs__title-bottom p {
      font-size: calc(0.8125rem + 0.125 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.7236111111rem  +  0.4444444444vw , 1.0625rem )) {
    .demo-version__form .section-header .subtitle {
      font-size: clamp( 0.8125rem , 0.7236111111rem  +  0.4444444444vw , 1.0625rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.7236111111rem  +  0.4444444444vw , 1.0625rem )) {
    .demo-version__form .section-header .subtitle {
      font-size: calc(0.8125rem + 0.25 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.7236111111rem  +  0.4444444444vw , 1.0625rem )) {
    .consultation__one-payment .one-payment__body .section-header .subtitle {
      font-size: clamp( 0.8125rem , 0.7236111111rem  +  0.4444444444vw , 1.0625rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.7236111111rem  +  0.4444444444vw , 1.0625rem )) {
    .consultation__one-payment .one-payment__body .section-header .subtitle {
      font-size: calc(0.8125rem + 0.25 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.8263888889rem  +  0.5555555556vw , 1.25rem )) {
    .support__text p {
      font-size: clamp( 0.9375rem , 0.8263888889rem  +  0.5555555556vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.8263888889rem  +  0.5555555556vw , 1.25rem )) {
    .support__text p {
      font-size: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 56.25);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 47.99875em) {
  .footer-section__content {
    padding: 3.0625rem;
  }
}

@media (any-hover: hover) {
  .header__menu ul li a:hover {
    color: var(--blue);
  }
}